.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 64px; /* default height */
}

.app-content {
  margin-top: 64px; /* offset for fixed toolbar */
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto; /* Ensures footer stays at the bottom */
  text-align: center;
  padding: 1rem;
}
