<div class="wallet-wrapper">
  
  <!-- Recharge Wallet Content -->
  <div class="recharge-container">
    <h2>Recharge Your Wallet</h2>
    <p>Scan the UPI QR code below to recharge your wallet using your UPI app:</p>
    

    <!-- UPI QR Code -->
    <img src="assets/upiQRCode.jpeg" alt="UPI QR Code" class="upi-qr-code">

    <!-- Recharge Info -->
     
    <p>Minimum Amount to Recharge: ₹{{ rechargeAmount }}</p>
    
    <!-- Recharge Button, disabled if rechargeAmount is less than 50 -->
    <button mat-raised-button color="accent" [disabled]="rechargeAmount < 100" (click)="recharge()">Pay with Google Pay</button>
  </div>
</div>
